.inventory-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
  }
  
  .product-card {
    width: calc(33.33% - 20px); 
    margin-bottom: 20px; 
  }
  
  .product-card img {
    width: 60%; 
    height: auto;
  }
  
  .product-card h4,
  .product-card h3,
  .product-card p {
    color: black; 
  }
  
  