.inventory-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.product-card img {
  width: 80%;
  height: auto;
}

.product-card h4,
.product-card h3,
.product-card p {
  color: black;
}

.product-card p.price {
  color: blue;
}
button {
  background-color: rgb(211, 154, 10); 
  padding: 10px 20px; 
  font-size: 16px; 
  font-weight: bold;
  border: 2px solid black; 
  cursor: pointer; 
}

button:hover {
  background-color: rgb(135, 94, 32);
}