.product-details {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}
  .product-details h2,
  .product-details p {
    color: black;
  }
  .product-details .price {
    color: rgb(12, 20, 246);
  }
  
  .product-image img {
    max-width: 200px;
    height: auto;
  }
  .product-card p.price {
    color: blue;
  }